.login__container {
 padding: 2rem 4rem;
 max-width: 700px;
 margin: 0 auto;
}

.login__container ion-input {
 width: 100%;
}

ion-button {
 margin-top: 1.5rem;
}

.login__container .row{
 display: flex;
 gap: 1rem;
}

.row{
 margin-bottom: 1rem;
}

